</body>
    <div class="footer">
        <div class="row" >
            <a class="col-6"><p>Sign In</p></a>
            <a class="col-6"><p>HELP</p></a>
            <a class="col-4"><p>Register</p></a>
            <a class="col-4"><p>About</p></a>
            <a class="col-4" href="/contact-us"><p>Contact us</p></a>
        </div>
        <div class="row">
            <a class="col-12" style="text-align: end;"><p>FOLLOW US</p></a>
            <a class="col-4 social" ><img  src="/icons/facebook.png" style="width: 48px; height: 48px;"/></a>
            <a class="col-4 social" ><img  src="/icons/X.png" style="width: 48px; height: 48px;"/></a>
            <a class="col-4 social"><img  src="/icons/ig.png" style="width: 48px; height: 48px;"/></a>

        </div>
    </div>
</html>