<header><%- include('../partials/header');%></header>
<div><%- include('../partials/navbar');%></div>
<div
  style="
    display: flex;
    flex-direction: column;
    background-color: #1f0e33;
    align-items: center;
  "
>
  <div style="height: 480px; width: 480px">
    <%- include('../partials/map');%>
  </div>
  <p>Address: 123 Main Street Anytown, USA 12345</p>
  <p>Tel: <a href="1234567890">1234567890</a></p>
  <p>
    Facebook fanpage: <a href="https://www.facebook.com">Arcade Nexus FB</a>
  </p>
  <p>Twitter account: <a href="https://www.x.com">Arcade Nexus X</a></p>
  <p>
    Instagram account: <a href="https://www.instagram.com">Arcade Nexus IG</a>
  </p>
  <p>
    Email :
    <a href="mailto:thinnakorn_k@cmu.ac.th.com">thinnakorn_k@email.com</a>
  </p>
  <p>Email : mock.email.com</p>
</div>
<footer><%- include('../partials/footer');%></footer>
