<!DOCTYPE html>
<body>
  <div class="row">
    <% newGameItems.forEach((item) => {%>
    <div
      class="gameCard col-lg-3"
      style="background-image: url('<%=item.img%>')"
    >
      <p class="nameText"><%=item.name%></p>
      <div class="lowerDiv">
        <p class="priceText"><%=item.price%></p>
        <img class="plusIcon" src="/icons/+.png" />
      </div>
    </div>

    <%});%>
  </div>
</body>
